services:
  pingdirectory:
    image: pingidentity/pingdirectory:11.0.0.0-alpine_3.23.2-al17-edge
    container_name: pingdirectory
    environment:
      - PING_IDENTITY_ACCEPT_EULA=YES
      - DOMAIN_NAME=localhost
      - SERVER_PROFILE_URL=https://github.com/SHAfoin/icy-5a-iam-2026.git
      - SERVER_PROFILE_PATH=conf
      - PING_IDENTITY_DEVOPS_USER
      - PING_IDENTITY_DEVOPS_KEY
      - USER_BASE_DN=dc=insa,dc=local
    ports:
      - "1389:1389"
      - "1443:1443"
    volumes:
      - "./license.lic:/opt/staging/pd.profile/server-root/pre-setup/PingDirectory.lic"
      - ./conf/.sec:/run/secrets
    restart: unless-stopped
    profiles:
      - directory

  # pingadmin:
  #   image: pingidentity/pingdataconsole:11.0.0.0-alpine_3.23.2-al17-edge
  #   container_name: pingadmin
  #   ports:
  #     - "8080:8080"
  #     - "8443:8443"

  pingfederate:
    image: pingidentity/pingfederate:13.0.0-alpine_3.23.2-al17-edge
    container_name: pingfederate
    ports:
      - "9999:9999"
      - "9031:9031"
    environment:
      - PING_IDENTITY_ACCEPT_EULA=YES
    volumes:
      - "./license_pingfederate.lic:/opt/out/instance/server/default/conf/pingfederate.lic"
    profiles:
      - federate
